{% extends "_base.html" %}
{% block content %}
<h2>لیست صفحات</h2>
<ul>
  {% for page in pages %}
    <li>
      <a href="{% url 'page_detail' page.pk %}">{{ page.title }}</a>
    </li>
  {% empty %}
    <li>مطلبی یافت نشد.</li>
  {% endfor %}
</ul>

<!-- دکمه‌های صفحه‌بندی -->
{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; اولین</a>
      <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
    {% endif %}

    <span class="current">
      صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
    {% endif %}
  </span>
</div>
{% endif %}



{% endblock %}
